{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block report %}
    <div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-body">
    </div></div></div></div></div></div>
{% if obj %}

    <table class="table">
    <thead class="thead-inverse">
    <tr>
      <th>S.no</th>
      <th>PatientId</th>
      <th>Name</th>
      <th>DateOfBirth</th>
      <th>Email</th>
      <th>Address</th>
      <th>BloodGlucoserange</th>
      <th>Bloodpressure</th>
      <th>HeartRates</th>
      <th>SkinThikness</th>
      <th>Pragnencyperyear</th>
      <th>Diabetes</th>

    </tr>
  </thead>
  <tbody>
  {% for ob in obj %}
     <tr>
      <td>{{ ob.id }}</td>
      <td>{{ ob.patientid.patientid }}</td>
      <td>{{ ob.patientid.Name }}</td>
      <td>{{ob.patientid.DateofBirth }}</td>
      <td>{{ ob.patientid.Email }}</td>
      <td>{{ ob.patientid.Address }}</td>
      <td>{{ ob.BloodGlucoseRange }}</td>
      <td>{{ ob.BloodPressure }}</td>
      <td>{{ ob.HeartRates }}</td>
      <td>{{ob.SkinThikness }}</td>
      <td>{{ ob.PragnencyParYear }}</td>
      <td>{{ ob.Diabetes }}</td>

    </tr>
  {% endfor %}
   </tbody>
 </table>

{% endif %}
{% endblock %}